# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
sites/*/settings*.php
sites/*/default.settings.php
phpmyadmin

# Ignore paths that contain user-generated content.
sites/*/files/*
sites/*/tmp
tmp

#Ignore Utility Modules
sites/all/modules/security_review
sites/all/modules/memory_profiler
sites/all/modules/devel
sites/all/modules/unused_modules
php_errors.log
