# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
sites/*/settings*.php
sites/*/default.settings.php

# Ignore paths that contain user-generated content.
sites/*/files/css
sites/*/narrative
sites/*/files/ctools
sites/*/files/pictures
sites/*/files/user
sites/*/files/xmlsitemap
sites/*/files/tmp
sites/*/files/styles
sites/*/files/js
sites/*/files/ironmonger
sites/*/files/club_images
sites/*/files/16
sites/*/files/4406
sites/*/files/92
sites/*/private
sites/*/tmp
tmp

#Ignore Utility Modules
sites/all/modules/security_review
sites/all/modules/memory_profiler
sites/all/modules/devel
php_errors.log
